In [18]:
import pandas as pd
from datetime import datetime
import locale 
print("locale", "=>", locale.setlocale(locale.LC_ALL, "en.UTF-8"))

locale => en.UTF-8

In [19]:
df_flipkart = pd.read_csv('../dataset/raw/barnesandnoble.csv')
df_flipkart

,reviewer,stars,title,review,date
0,reader347,1,Not my cup of tea,"If you are looking for a page turner, this is ...",2021-09-06T20:45:45.000+00:00
1,NaN,5,Sensational Book!,The world fosters competition at an exponentia...,2021-05-17T12:21:22.000+00:00
2,txpenelope,3,Good but not like Talking To Strangers,This was a very interesting audiobook. Gladwel...,2021-04-02T15:48:44.000+00:00
3,OutTheBackdoor,5,Insightful,"Insightful, a book anyone can take a lesson or...",2020-12-28T01:14:00.000+00:00
4,NaN,3,NaN,NaN,2019-01-14T19:22:01.000+00:00
...,...,...,...,...,...
1280,NaN,5,NaN,NaN,2008-11-17T16:06:14.000+00:00
1281,NaN,5,NaN,NaN,2008-11-16T16:14:31.000+00:00
1282,NaN,2,NaN,NaN,2008-11-11T04:24:30.000+00:00
1283,NaN,3,NaN,NaN,2008-11-07T21:18:17.000+00:00
1284,csaint,3,"Outliers, a success",This was a great insight into the world of suc...,2008-10-30T18:28:35.000+00:00

In [20]:
df_flipkart['date'] = df_flipkart.date.str[:10]

# joining title and review into review
df_flipkart['review'] = df_flipkart.title + ". " + df_flipkart.review

In [21]:
df_flipkart

,reviewer,stars,title,review,date
0,reader347,1,Not my cup of tea,Not my cup of tea. If you are looking for a pa...,2021-09-06
1,NaN,5,Sensational Book!,Sensational Book!. The world fosters competiti...,2021-05-17
2,txpenelope,3,Good but not like Talking To Strangers,Good but not like Talking To Strangers. This w...,2021-04-02
3,OutTheBackdoor,5,Insightful,"Insightful. Insightful, a book anyone can take...",2020-12-28
4,NaN,3,NaN,NaN,2019-01-14
...,...,...,...,...,...
1280,NaN,5,NaN,NaN,2008-11-17
1281,NaN,5,NaN,NaN,2008-11-16
1282,NaN,2,NaN,NaN,2008-11-11
1283,NaN,3,NaN,NaN,2008-11-07
1284,csaint,3,"Outliers, a success","Outliers, a success. This was a great insight ...",2008-10-30